body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
}

p,
li {
  max-width: 70ch;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 20px;
}

h2 {
  color: #4caf50;
  border-bottom: 2px solid #4caf50;
  padding-bottom: 5px;
}

ul,
ol {
  padding-left: 20px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.plant-section__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .plant-section__content {
    flex-direction: row;
    justify-content: space-around;
  }
}

.form-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-error {
  color: red;
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}